<p id="notice"><%= notice %></p>

<p>
  <strong>Public:</strong>
  <%= @task.public_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Account:</strong>
  <%= @task.account_id %>
</p>

<%= link_to 'Close', close_task_path(@task), method: :post %> |
<%= link_to 'Back', tasks_path %>
