<!DOCTYPE html>
<html>
  <head>
    <title>Billing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if current_account %>
      <br/>
      <%= link_to 'Logout', logout_path %>

      <h2>Current account</h2>
      <%= current_account.as_json %>
      <br/>

      <% if current_account.admin? %>
        <h3>Current balance cycle</h3>
        <%= BalanceCycle.current_cycle.as_json %>
        <br/>
        <%= link_to 'Close cycle', close_balance_cycles_path, method: :post %>
      <br/>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
